# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#识别成go
*.js linguist-language=Go
*.css linguist-language=Go
*.html linguist-language=Go
